
.btnOver
{
	background-color: rgba(235,235,235,0.7) !important;
	color:rgb(53,53,53) !important; 
	 box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1) !important;
}

.newsOver
{	
}

.newsOver:hover > .AButton-Style {
	display: none !important;
}
.newsOver:hover > .news_hover_item{
	display : block !important;
	
}
.newsLabel:hover{
	text-decoration : underline !important;
}

