
.slide_text
{	
	font-size : 13pt !important;
	position: relative !important;
    width: 100% !important;
	height: 50px !important;
    position: relative !important;
    background-color: rgba(0, 0, 0, 0) !important;
	text-overflow : ellipsis !important;
	white-space: nowrap !important;
	display: flex !important;
	align-items : center !important;
}

.h_slide_item
{
	width: 400px !important;
	height: 100% !important;
    position: relative !important;
    display: flex !important;
    align-items: center !important;
    background-color: rgba(0, 0, 0, 0) !important;
    
}
.visible
{
	transform : translateX(0) !important;
}

.horizonSlidePage
{
	width: 6px !important;
	height: 6px !important;
	border-radius : 50% !important;
	color: rgba(0,0,0,0) !important;
	background-color: rgba(128, 134, 140, 0.3) !important;
	margin-left: 4px !important;
}

.hSlideActive{
	background-color : #03c75a !important;
}

