
._global_style_
{
	font-size: 16px !important;
	font-family: "Noto Sans KR", sans-serif !important;
	text-size-adjust: none !important;

}

p, h1, h2, h3, h4, h5, h6, figure, blockquote, ul, li{
	margin: 0 !important;
	padding: 0 !important;
	display: inline !important;
}

.global_resp
{
	/* global_resp 는 body 에 추가된 클래스 입니다. */

}

/*가로모드*/
@media screen and (orientation: landscape)
{
	.global_resp
	{
	}
}

/*ios*/
@supports (-webkit-overflow-scrolling: touch)
{
}

/*tablet*/
@media screen and (min-width:641px)
{
}

